.subheadingArrow::after {
    content: '';
    position: absolute;
    transform: translateY(-50%);
    background-image: url('/images/arrowright24.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 18px;
  }