.videoContainer {
  position: relative;
  margin-top: 40px;
  float: left;
}

.posterImage {
  border-radius: 30px;
  background: #33333300;
  border: 1px solid #9B51E0;
}

.playButton {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 46%;
  left: 46%;
  background-image: url('/images/play-but.svg');
  cursor: pointer;
}
