.rugInfo {
    margin: 70px auto 0px;
}

.rugImage {
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: -2.009999990463257px 2.009999990463257px 3.013333320617676px 0px rgba(255, 255, 255, 0.39) inset, 2.009999990463257px -2.009999990463257px 20px 0px rgba(214, 214, 214, 0.17) inset;
    backdrop-filter: blur(37.21466827392578px);
    padding: 45px;
}

.title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 21px;
    width: 75%;
}

.text {
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
    width: 75%;
}