
.heroRight {
    padding: 24px 28px 14px 28px;
    background: linear-gradient(139deg, rgba(58, 129, 191, 0.08) 0%, rgba(65, 48, 90, 0.08) 100%);
    backdrop-filter: blur(555px);
    border: 1px solid #9B51E0;
  }
  
  .infoWethCustom::before {
    content: '';
    position: absolute;
    right: 11%;
    background-image: url('/images/heart-24.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
  
  .circlePurper {
    position: absolute;
    width: 123px;
    height: 123px;
    left: -10%;
    top: -10%;
    background: #FB37FF;
    z-index: -1;
    filter: blur(100px);
  }
  
  .circleBlue {
    position: absolute;
    width: 123px;
    height: 123px;
    left: 84%;
    top: 90%;
    z-index: -1;
    background: #18B2DE;
    filter: blur(100px);
  }
  
  .heroButton {
    background: linear-gradient(133deg, #9B51E0 19.72%, rgba(48, 129, 237, 0.80) 100%);
  }
  
  .heroButton:nth-child(2) {
    background: transparent;
    border: 2px solid #9B51E0;
  }
  