.heroLeft {
    margin-top: 160px;
    width: 50%;
    float: left;
}

.subheading {
    margin-top: 40px;
}

.listStyle {
    margin-top: 49px;
}

.listStyle li {
    margin-top: 32px;
}

.secondButton {
    margin-right: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    width: 679px;
}


.heroRight {
    padding: 24px 28px 30px 28px;
    border-radius: 35.025px;
    background: linear-gradient(139deg, rgba(58, 129, 191, 0.08) 0%, rgba(65, 48, 90, 0.08) 100%);
    backdrop-filter: blur(555px);
    float: right;
    margin-top: 140px;
    border: 1px solid #9B51E0;
}

.blockInfo {
    margin: 30px 0 110px;
}

.roundedImage {
    border-radius: 50%;
    float: left;
}

.informLeft {
    display: flex;
    flex-direction: column;
    float: left;
}

.informRight {
    display: flex;
    flex-direction: column;
    float: right;
}

.infoWethCustom {
    text-align: right;
}

.infoWethCustom::before {
    content: '';
    position: absolute;
    right: 11%;
    background-image: url('/images/heart-24.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.circlePurper {
    position: absolute;
    width: 123px;
    height: 123px;
    left: -10%;
    top: -10%;
    background: #FB37FF;
    z-index: -1;
    filter: blur(100px);
}

.circleBlue {
    position: absolute;
    width: 123px;
    height: 123px;
    left: 84%;
    top: 90%;
    z-index: -1;
    background: #18B2DE;
    filter: blur(100px);
}