@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  height: 7494px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  color: #E2E2E2;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
}

h4 {
  color: #E2E2E2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
}

/* Header */

.nameWeb {
  background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
  -webkit-text-fill-color: transparent;
}

/* OurRugs */

.customBoxShadow {
  box-shadow: -2.009999990463257px 2.009999990463257px 3.013333320617676px 0px rgba(255, 255, 255, 0.39) inset, 2.009999990463257px -2.009999990463257px 20px 0px rgba(214, 214, 214, 0.17) inset;
  border-radius: 3xl;
  background: #ffffff05;
  padding: 11px;
}

.ourRugs::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 10px;
  background: var(--linear-purple-blue-style, linear-gradient(126deg, #9B51E0 0%, #3081ED 100%));
  filter: blur(100px);
  width: 1292px;
  height: 58px;
}

.elementPoint:nth-child(-n+2)::before {
  content: ". . . . . . . . . . . . . . . . .";
  white-space: nowrap;
  position: relative;
  top: 10%;
  display: flex;
  font-size: 22px;
  left: 125%;
  transform: translate(-50%, -50%);
  height: 5px;
  color: rgba(196, 196, 196, 0.4);
  border-radius: 50%;
}

/* Main Slider */

.slederRightTitle::after {
  content: '';
  position: absolute;
  transform: translateY(-50%);
  background-image: url('/images/arrowright24.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 18px;
}

/* Hero */

.heroRight {
  padding: 24px 28px 30px 28px;
  background: linear-gradient(139deg, rgba(58, 129, 191, 0.08) 0%, rgba(65, 48, 90, 0.08) 100%);
  backdrop-filter: blur(555px);
  border: 1px solid #9B51E0;
}

.infoWethCustom::before {
  content: '';
  position: absolute;
  right: 11%;
  background-image: url('/images/heart-24.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.circlePurper {
  position: absolute;
  width: 123px;
  height: 123px;
  left: -10%;
  top: -10%;
  background: #FB37FF;
  z-index: -1;
  filter: blur(100px);
}

.circleBlue {
  position: absolute;
  width: 123px;
  height: 123px;
  left: 84%;
  top: 90%;
  z-index: -1;
  background: #18B2DE;
  filter: blur(100px);
}

.heroButton {
  background: linear-gradient(133deg, #9B51E0 19.72%, rgba(48, 129, 237, 0.80) 100%);
}

.heroButton:nth-child(2) {
  background: transparent;
  border: 2px solid #9B51E0;
}

/* Comparisons */

.customStyleLiPlus span {
  background: linear-gradient(103.91deg, #9b51e0 19.72%, rgba(48, 129, 237, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.customStyleliMinus li::before {
  content: "";
  position: absolute;
  background-image: url(/images/check-mark-button.svg);
  background-size: 28px;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  margin-left: -34px;
}

.customStyleLiPlus li::before {
  content: "";
  position: absolute;
  background-image: url(/images/check-mark-button-plus.svg);
  background-size: 28px;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  margin-left: -34px;
}