.comparison {
    width: 50%;
    float: left;
    margin-top: 40px;
}

.title {
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.image {
    margin: 20px 0;
    border-radius: 20px;
    background: lightgray 50% / cover no-repeat;
    max-width: 475px;
    max-height: 276px;
}

.list {
    list-style-type: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    max-width: 450px;
}

.list li {
    margin-bottom: 27px;
    margin-left: 38px;
}