.reviews {
    float: left;
    margin-top: 90px;
    width: 100%;
}

.slider {
    width: 100%;
    margin-top: 40px;
}

.image {
    width: 100%;
    height: auto;
    padding: 15px;
}

.expandedImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}