.makeOrder {
    width: 100%;
    float: left;
    margin-top: 155px;
  }
  
  .makeOrderTitle {
    text-align: center;
  }

  .blockElements {
    margin-top: 40px;
  }
  
  .elementRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .elementRow:nth-child(2) {
    margin-top: 134px;
  }
  
  .element {
    flex: 1;
    text-align: center;
  }
  